.custom-header {
    background-image:url('background.jpeg');
    background-position: center center;
    background-size: cover;
}

.custom-dark-glow {
    color:rgb(13, 12, 70);
    text-shadow:1px 1px 10px #f7f3f3, 1px 1px 10px rgb(248, 245, 245);
}

body {text-align:center;
    font-family: 'Perpetua';}

h1, h2 {
    font-family: 'Perpetua';
}

h3 {
 margin-top: 3rem;
 margin-bottom: 2rem;
}

.my-custom-color {background-color:#c8a3da;}

.tab-content > .active {
    display: block;
    background-color: #fff;
    padding-bottom: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

 .nav-link:hover {
    color: #131445;
  }
  
  .nav-link { 
      color:#fff;
  }

 
